<!DOCTYPE html>
<html>
<head>
    <title>Paris Housing Prediction</title>
</head>
<body>
    <h1>Paris Housing Prediction</h1>
    <form action="/predict" method="post">
        <label for="squareMeters">Square Meters:</label>
        <input type="number" id="squareMeters" name="squareMeters"><br><br>
        <label for="numberOfRooms">Number of Rooms:</label>
        <input type="number" id="numberOfRooms" name="numberOfRooms"><br><br>
        <label for="hasYard">Has Yard:</label>
        <input type="number" id="hasYard" name="hasYard"><br><br>
        <label for="hasPool">Has Pool:</label>
        <input type="number" id="hasPool" name="hasPool"><br><br>
        <label for="floors">Floors:</label>
        <input type="number" id="floors" name="floors"><br><br>
        <label for="cityCode">City Code:</label>
        <input type="number" id="cityCode" name="cityCode"><br><br>
        <label for="cityPartRange">City Part Range:</label>
        <input type="number" id="cityPartRange" name="cityPartRange"><br><br>
        <label for="numPrevOwners">Number of Previous Owners:</label>
        <input type="number" id="numPrevOwners" name="numPrevOwners"><br><br>
        <label for="yearMade">Year Made:</label>
        <input type="number" id="yearMade" name="yearMade"><br><br>
        <label for="isNewBuilt">Is New Built:</label>
        <input type="number" id="isNewBuilt" name="isNewBuilt"><br><br>
        <label for="hasStormProtector">Has Storm Protector:</label>
        <input type="number" id="hasStormProtector" name="hasStormProtector"><br><br>
        <label for="basement">Basement:</label>
        <input type="number" id="basement" name="basement"><br><br>
        <label for="attic">Attic:</label>
        <input type="number" id="attic" name="attic"><br><br>
        <label for="garage">Garage:</label>
        <input type="number" id="garage" name="garage"><br><br>
        <label for="hasStorageRoom">Has Storage Room:</label>
        <input type="number" id="hasStorageRoom" name="hasStorageRoom"><br><br>
        <label for="hasGuestRoom">Has Guest Room:</label>
        <input type="number" id="hasGuestRoom" name="hasGuestRoom"><br><br>
        <input type="submit" value="Predict">
    </form>
</body>
</html>